<template>
  <div>
    <h1>Question 2</h1>
    <p>(Y + 24) + (10 × 2) = 99</p>
	<p>Y = {{ answer }}</p>
  </div>
</template>

<script>
export default {
  asyncData() {

  	var result = 99;
    var value = ((result - (10 * 2)) - 24);
    
    return {
      answer: value
    }
  },
  head: {
    title: 'Test page'
  }
}
</script>
