<template>
  <div>
    <h1>Question 3</h1>
    <p>If 1 = 5, 2 = 25, 3 = 325, 4 = 4325 Then 5 = X</p>
	<p>X = {{ answer }}</p>
  </div>
</template>

<script>
export default {
  asyncData() {

  	var value = 5;
	for(var i = 2; i <= 5; i++)
	{
	    value = i + '' + value;
	}

    return {
      answer: value
    }
  },
  head: {
    title: 'Test page'
  }
}
</script>
