<template>
  <div>
    <h1>Question 1</h1>
    <p>3, 5, 9, 15, X</p>
    <p>X = {{ answer }}</p>
  </div>
</template>

<script>
export default {
  asyncData() {

    var value = 3;
    for(var i = 0; i < 5; i++)
    {
        value = value + (2 * i);
    }

    return {
      answer: value
    }
  },
  head: {
    title: 'Test page'
  }
}
</script>
