<template>
  <div>
    <h1>Welcome!</h1>
    <ul>
    	<li><nuxt-link to="/test/question1">Question 1</nuxt-link></li>
    	<li><nuxt-link to="/test/question2">Question 2</nuxt-link></li>
    	<li><nuxt-link to="/test/question3">Question 3</nuxt-link></li>
    </ul>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Home page'
  }
}
</script>
